*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(131, 52, 85);
}

body{
    background-color: rgb(232, 148, 187);
}

h1,h2{
    text-align: center;
   
}

h1{
    font-size: 45px;
}

h2{
    font-size: 28px;
}

img{
    padding-left: 12rem;
}
.heart-animation{
    animation: pulsar 0.5s infinite alternate
}

footer, p{
text-align: center;
font-size: 19px;
font-weight: 600;

}
/* animation pulsar heart */

@keyframes pulsar{
    0%{
        transform:scale(.8);
    }

    100% {
        transform: scale(1);
    }
}

